In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
import matlpotlib as mp

ModuleNotFoundError: No module named 'matlpotlib'

In [13]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\rohit\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\rohit\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\users\rohit\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
covid_df=pd.read_csv("C:/Users/rohit/Downloads/COVID-19 Cases(05-12-2021).csv")

In [19]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22837 entries, 0 to 22836
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   S. No.            22837 non-null  int64
 1   Date              22837 non-null  object
 2   Region            22837 non-null  object
 3   Confirmed Cases   22837 non-null  int64
 4   Cured/Discharged  22212 non-null  float64
 5   Death             22836 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.0+ MB

In [20]:
covid_df.describe()

             S. No.  Confirmed Cases  Cured/Discharged         Death
count  22837.000000     2.283700e+04      2.221200e+04  2.283600e+04
mean   11419.000000     3.610267e+06      7.574010e+05  7.272646e+04
std     6592.618385     2.206712e+07      3.124835e+06  4.625671e+05
min        1.000000     0.000000e+00      0.000000e+00  0.000000e+00
25%     5710.000000     7.648000e+03      5.456000e+03  6.200000e+01
50%    11419.000000     8.466400e+04      6.430600e+04  1.023500e+03
75%    17128.000000     6.016500e+05      4.807992e+05  7.172250e+03
max    22837.000000     2.621784e+08      3.403705e+07  5.215745e+06

In [36]:
print(covid)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000202C2F478B0>

In [6]:
covid_df.drop("S. No.",inplace=True,axis=1)

In [7]:
covid_df.head(10)

         Date Region  Confirmed Cases  Cured/Discharged     Death
0  01-01-1970  India         34260470        33641175.0  457740.0
1  12-03-2020  India               74               3.0       0.0
2  13-03-2020  India               75               3.0       1.0
3  14-03-2020  India               84              10.0       2.0
4  15-03-2020  India              107              10.0       2.0
5  16-03-2020  India              114              13.0       2.0
6  17-03-2020  India              137              14.0       3.0
7  18-03-2020  India              146              14.0       3.0
8  19-03-2020  India              166              15.0       3.0
9  20-03-2020  India              195              20.0       4.0

In [10]:
covid_df.drop("01-01-1970",columns="Date",inplace=True,axis=0)

ValueError: Cannot specify both 'labels' and 'index'/'columns'

In [11]:
covid_df.style.background_graphics(cmap='cubehelix')

AttributeError: 'Styler' object has no attribute 'background_graphics'